# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

# Same as Black.
line-length = 120
indent-width = 4

# Assume Python 3.14
target-version = "py314"

[lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`) codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.

# | Code | Description                                           | Error Count (Oct 25) | Priority         | Common Exclusions / Notes                                         |
# |:-----|:------------------------------------------------------|:--------------------:|:-----------------|:------------------------------------------------------------------|
# | F    | pyflakes — correctness (undefined names, unused vars) | 51                   | A                | None – always enforce                                             |
# | E    | pycodestyle errors — PEP 8 hygiene (spacing, braces)  | 2K                   | A-replace pydocS | (gradual adoption) | Ignore `E501` (line length – handled by Black)                    |
# | W    | pycodestyle warnings — minor style issues             | 0                    | A-replace pydocS | N/A                                                               |
# | I    | import sorting — deterministic imports & diffs        | 5                    | A                | None                                                              |
# | UP   | modernization — syntax updates for 3.11+              | 47                   | A                | None                                                              |
# | B    | bugbear — common bugs & smells (mutable defaults,...) | 23                   | A                | Allowlist B006,B007,B008,B012,B023,B026,B904 initially            |
# | RUF  | Ruff-specific — unused `noqa`, config hygiene         | 10                   | A                | None                                                              |
# | N    | naming — consistent class/function naming             | 8                    | B                | Relax for test fixtures or private helpers                        |
# | S    | security — Bandit rules (eval, secrets, injections)   | 2.5K                 | C - use Bandit?  | Allow `S101` (assert) in tests                                    |
# | A    | annotations — type annotation presence/consistency    | 0                    | C                | Enable once typing coverage matures                               |
# | PL   | PyLint subset — maintainability & design checks       | 284                  | D - run pylint   | None                                                              |
# | C90  | complexity — cyclomatic complexity metrics            | 8                    | D - run pylint   | Threshold 10–12                                                   |


select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    # ruff-specific
    "RUF"
]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
